<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}
            {{ importmap('app') }}
            {% endblock %}
        <script>
            function closeFlashMessage(index) {
                const flashMessage = document.getElementById('flash-message-' + index);
                if (flashMessage) {
                    flashMessage.style.display = 'none';
                }
            }
        </script>
        {% endblock %}
    </head>
    <body>
        {% if app.user %}
            {% include 'include/_navbar.html.twig' %}
        {% endif %}
        <div class="container">
            {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" id="flash-message-{{ loop.index }}">
                            {{ message }}
                            <div>
                            <button type="button" class="btn-close" aria-label="Close" onclick="closeFlashMessage({{ loop.index }})"></button>
                            </div>
                        </div>
                    {% endfor %}
            {% endfor %}
        </div>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
